page-add-house {
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .ng-progress{
        margin-top: 70px;
    }
    .bar-shadow{
        display: none;
    }
    
    .form-control  {
        // position: absolute;
        // z-index: -1;
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: rgba(250, 116, 7, 0.89);
        // display: inline-block;
    }
}
