
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";


$colors: (
  // primary:    #f0400afd, 
  // secondary:  #0be64d,  
  // danger:     #f53d3d,
  // light:      #f4f4f4,
  // dark:       #222
  primary: #387ef5,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  dark1: #222,
  dark2: #222,
  dark3: #222,
  dark4: #222,
  dark5: #222,
  dark6: #222,
  dark7: #222,
  dark8: #222,
  dark9: #222,
  darka: #222,
  darkz: #222,
  darke: #222,
  darkr: #222,
  darkt: #222,
  darky: #222,
  darku: #222,
  darki: #222,
  darko: #222,
  darkp: #222,
  darkq: #222,
  darks: #222,
  darkd: #222,
  darkf: #222,
  darkg: #222
);



@import "ionic.theme.default";



@import "ionic.ionicons";



@import "roboto";
@import "noto-sans";
